@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData["Types"] = "Payment Types";
    ViewData["Orders"] = "Order History";
    @*ViewData.AddActivePage(ProfileNavPages.Index);*@
}


<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <div>@Model.FirstName @Model.LastName</div>
        <div>@Model.StreetAddress</div>
        <div>@Model.City</div>
        <div>@Model.State</div>
        <div>@Model.ZipCode</div>
        <div>
            @Html.Partial("_PaymentTypes", Model)
        </div>
    </div>
    <div class="col-md-6">
        <h4>@ViewData["Orders"]</h4>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
